* {
    font-family: monospace;
}

@media only screen and (max-width: 600px) {
  body {
    margin-top: 20px;
  }
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}


img {
    max-width: 100%;
}

.gray {
    color: gray;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 45%;
}

nav {
    margin: 0 auto;
    max-width: 800px;
    justify-content: space-between;
    display: flex;
}

main {
    margin: 0 auto;
    max-width: 800px;
}

pre {
    border: solid 1px gray;
    padding: 2px;
    overflow-x:hidden;
    overflow-x:scroll;
}

.language-plaintext {
    border: solid 1px gray;
    padding: 2px;
}