@import url("../woff/radio-canada.css");
@import url("../woff/roboto-mono.css");

hr {
    color: rgb(255, 255, 255);
}

body {
    font-family: Radio Canada;
    margin: 32px 0 0 0;
    margin-bottom: 4em;
}

img {
    max-width: 100%;
}

.gray {
    color: gray;
}

.title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 45%;
}

nav {
    margin: 0 auto;
    max-width: 800px;
    padding: 0px 7px 0 7px;
}

/* main {
    margin: 0 auto;
    max-width: 800px;
} */

.clamp {
    margin: 0 auto;
    max-width: 800px;
    padding: 0px 7px 0 7px;
}

.post-detail {
    margin-bottom: 2em;
}

pre {
    border: solid 1px rgb(190, 190, 190);
    padding: 6px;
    overflow-x:hidden;
    overflow-x:scroll;
    border-radius: 3px;
    padding-bottom: 12px;
    font-family: Roboto Mono !important;
}

code {
    font-family: Roboto Mono !important;
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid rgb(190, 190, 190);
    text-align: left;
    padding: 8px;
  }

  th {
    background-color: #dddddd;
  }
  
  tr:nth-child(even) {
    background-color: #f1f1f1;
  }
